p {
  font-size: 24px;
}
h1 {
  text-align: center;
  font-size: 40px;
}
body {
  background-color: aqua;
  margin: 5% 10% 5% 10%;
}
ul {
  color: azure;
  font-size: 20px;
}
table {
  color: black;
}
h2 {
  text-align: right;
}
section p {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: #5ac88b;
  margin: 1% 10% 1% 10%;
  overflow: visible;
}
section {
  margin: 1% 10% 1% 10%;
  border: 10px black groove;
}
iframe {
  margin: 10% 10% 15% 10%;
}
